<div id="gdpr"
     class="hide bg-white rounded-lg shadow-lg w-100 max-w-350 p-5 m-3 position-fixed fixed-bottom right-0 z-index-9999">
    <h3 class="fs-4 mb-4 en">
        <a href="#" class="close mt-n1">
            <span class="fi fi-close fs-4" aria-hidden="true"></span>
        </a>
        Cookies
    </h3>
    <h3 class="fs-4 mb-4 cy">
        <a href="#" class="close mt-n1">
            <span class="fi fi-close fs-4" aria-hidden="true"></span>
        </a>
        Briwsion
    </h3>
    <hr>
    <p class="lead en">
        We use cookies to improve your experience and enable recording your voice.
    </p>
    <p class="lead cy">
        Rydym yn defnyddio briwsion i wella eich profiad a galluogi recordio eich llais
    </p>
    <a href="#" class="btn btn-primary btn-cookie-accept btn-lg w-100 en">
        Accept &amp; Continue
    </a>
    <a href="#" class="btn btn-primary btn-cookie-accept btn-lg w-100 cy">
        Derbyn a Pharhau
    </a>
    <hr class="my-4">
    <p class="m-0 en">
        <span class="d-block">Need to learn more?</span>
        <a href="https://www.bangor.ac.uk/about/cookies" class="link-muted">Privacy & Cookie Policy</a>
    </p>
    <p class="m-0 cy">
        <span class="d-block">Angen dysgu mwy?</span>
        <a href="https://www.bangor.ac.uk/about/cookies" class="link-muted">Preifatrwydd a Pholisi Briwsion</a>
    </p>
</div>
