{{if .flash.success}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{.flash.success}}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{end}}

{{if or .errors .flash.error}}
<div class="alert alert-dark alert-dismissible fade show" role="alert">
	{{if .flash.error}}
		{{.flash.error}}
	{{end}}
	<ul style="margin-top:10px;">
		{{range .errors}}
			<li>{{.}}</li>
		{{end}}
	</ul>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{end}}
