{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
    <div class="row m-5 pt-5">
        <div class="col-12 text-center">
            <h5>Dogfennaeth</h5>
            <!-- Youtube -->
            <div class="ratio ratio-16x9 py-4">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BlDE56Lg9Xg" width="560" height="315"></iframe>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

{{template "footer.html" .}}
