{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="container">
    <div class="row m-5">
        <div class="row">
            <div class="col-12">
                <h3 class="cy">Cywiro</h3>
                <h3 class="en">Correct</h3>
                <span class="fw-lighter">{{.data.UUID}}</span>
                <span class="fw-lighter float-end">{{.data.OriginalFilename}}</span>
            </div>
            <div class="col-12">
                <div class="h4 fw-normal timeline-title mb-5 py-2">
                    <div class="row">
                        <div class="col-1">
                            <button type="button" id="save" class="btn btn-sm btn-outline-success">
                                <i data-feather="save"></i>
                                Cadw
                            </button>
                        </div>
                        <div class="col-1">
                            <button type="submit" id="export" class="btn btn-sm btn-outline-primary">
                                <i data-feather="download"></i>
                                SRT
                            </button>
                        </div>
                        <div class="col-1">
                            <button type="submit" id="delete" class="btn btn-sm btn-outline-danger">
                                <i data-feather="trash-2"></i>
                                <span class="cy">Dileu</span><span class="en">Delete</span>
                            </button>
                        </div>
                        <div class="col-1">
                            <button type="submit" id="backup" class="btn btn-sm btn-outline-warning">
                                <i data-feather="refresh-cw"></i>
                                Backup
                            </button>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-2">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="ID" aria-label="chwilio" aria-describedby="button-addon2" id="search-id">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon" onclick="jump()">ID</button>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Chwilio" aria-label="chwilio" aria-describedby="button-addon2" id="search-text">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()">Chwilio</button>
                            </div>
                        </div>
                    </div>
                    <form action="/RevertJSON" method="get" id="backup-form">
                        <input type="hidden" name="uuid" value="{{.data.UUID}}">
                    </form>
                    <form action="/ExportSRT" method="get" id="srt-form">
                        <input type="hidden" name="uuid" value="{{.data.UUID}}">
                    </form>
                    <form action="/DeleteRecord" method="post" id="delete-form">
                        <input type="hidden" name="uuid" value="{{.data.UUID}}">
                    </form>
                    <script>
                        $("#export").click(function () {
                            $("#srt-form").submit();
                        });
                        $("#backup").click(function () {
                            $("#backup-form").submit();
                        });
                        $("#delete").click(function () {
                            $("#delete-form").submit();
                        });
                    </script>
                </div>
            </div>
            <div class="col-12" style="min-height: 400px;">
                <div id="editor">
                    <audio style="width: 100%;" id="audiofile" src="/PlayAudio?uuid={{.data.UUID}}" controls></audio>
                    <br>
                    <div class="row">
                        <div class="col-1">
                            <button class="btn btn-sm m-3 btn-outline-primary" id="prev"> < </button>
                        </div>
                        <div class="col-10">
                            <div id="customRangeLabel">
                                <label for="customRange" class="form-label cy">Segmentau</label>
                                <label for="customRange" class="form-label en">Segments</label>
                                <input type="range" class="form-range" id="customRange"
                                       min="0" max="{{len .data.Transcripts}}">
                            </div>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-sm m-3 btn-outline-primary" id="next"> > </button>
                        </div>
                    </div>
                    <br>
                    <div id="subtitles">
                        {{range .data.Transcripts.Segments}}
                        <div id="{{.ID}}_text" class="hide m-3 transcript">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1">
                                            ID: {{.ID}}
                                        </div>
                                        <div class="col-9">
                                            {{.Text}}
                                        </div>
                                        <div class="col-2">
                                            {{if gt .ID 0}}
                                            <button class="btn btn-sm btn-outline-primary" onclick="mergeSegments({{add .ID -1}}, {{.ID}})">
                                                Cyfuno gyda
                                                ID: {{add .ID -1}}
                                            </button>
                                            {{else}}
                                            &nbsp
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card m-3 pt-3 row hide transcript" id="{{.ID}}_tran">
                            <table class="table">
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-outline-primary" onclick="restart_segment({{addTime .Start -0.25}})">
                                            <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path>
                                            </svg>
                                        </button>
                                        <button class="btn btn-sm btn-outline-primary" id="repeat-{{.ID}}" onclick="loop_segment('repeat-{{.ID}}', {{addTime .Start -0.25}}, {{addTime .End 0.25}})">
                                            <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-recycle" viewBox="0 0 16 16">
                                              <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"></path>
                                            </svg>
                                        </button>
                                    </td>
                                    <td>ID: {{.ID}}</td>
                                    <td>
                                        Start: {{s2m .Start}}
                                    </td>
                                    <td>
                                        End: {{s2m .End}}
                                    </td>
                                    <td>
                                        Segment Newydd
                                        <br>
                                        <button class="btn btn-sm btn-outline-primary" onclick="addSegment({{add .ID -1}})">
                                            cyn
                                        </button>
                                        <button class="btn btn-sm btn-outline-primary" onclick="addSegment({{.ID}})">
                                            ar ôl
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <div class="col-sm-12 pb-3">
                                <textarea class="form-control" id="staticEmail2" rows="5" onfocusout="saveFile()">{{.Text}}</textarea>
                            </div>
                        </div>
                        {{end}}
                    </div>
                    <script>
                        function jump() {
                            let syncData = {{.data.Transcripts.Segments}};
                            let searchID = $("#search-id").val();
                            var audioPlayer = document.getElementById("audiofile");
                            audioPlayer.currentTime = syncData[Number(searchID)].start;
                        }
                        let oldSearch = "";
                        let searchCount = 0;
                        let oldText = "";
                        function search() {
                            let searchText = $("#search-text").val();
                            if (searchText === oldSearch) {
                                searchCount++;
                            } else {
                                searchCount = 0;
                            }
                            let syncData = {{.data.Transcripts.Segments}};
                            var audioPlayer = document.getElementById("audiofile");
                            let foundItem = 0;
                            let newText = ""
                            for (let i = 0; i < syncData.length; i++) {
                                if (syncData[i].text.includes(searchText)) {
                                    foundItem++
                                    audioPlayer.currentTime = syncData[i].start;
                                    if (foundItem > searchCount) {
                                        newText = syncData[i].text;
                                        break;
                                    }
                                }
                            }
                            if (oldText === newText) {
                                searchCount = 0;
                            } else {
                                oldText = newText
                            }
                            oldSearch = searchText;
                        }
                        $("#prev").click(function () {
                            let segments = {{ .data.Transcripts.Segments}};
                            let audioPlayer = document.getElementById("audiofile");
                            if (Number($("#customRange").val())-1 >= 0 ) {
                                audioPlayer.currentTime = segments[Number($("#customRange").val())-1].start;
                            }
                        });
                        $("#next").click(function () {
                            let segments = {{ .data.Transcripts.Segments}};
                            let audioPlayer = document.getElementById("audiofile");
                            audioPlayer.currentTime = segments[Number($("#customRange").val()) + 1].start;
                        });
                        $(document).on('input', '#customRange', function() {
                            let segments = {{ .data.Transcripts.Segments}};
                            let audioPlayer = document.getElementById("audiofile");
                            audioPlayer.currentTime = segments[Number($(this).val())].start;
                        });
                        function restart_segment(startTime) {
                            let audioPlayer = document.getElementById("audiofile");
                            audioPlayer.currentTime = startTime;
                            audioPlayer.play();
                        }
                        let tStart = 0.0;
                        let tEnd = 0.0;
                        let checkTime = function () {
                            let audioPlayer = document.getElementById("audiofile");
                            if (audioPlayer.currentTime >= tEnd) {
                                audioPlayer.currentTime = tStart;
                            }
                        }
                        function loop_segment(divID, startTime, endTime) {
                            tStart = startTime;
                            tEnd = endTime;
                            let looping = $("#"+divID).hasClass("btn-primary");
                            looping = !looping;
                            let audioPlayer = document.getElementById("audiofile");
                            if (looping) {
                                audioPlayer.addEventListener("timeupdate", checkTime);
                                audioPlayer.currentTime = startTime;
                                audioPlayer.play();
                                $("#"+divID).removeClass("btn-outline-primary").addClass("btn-primary");
                            } else {
                                audioPlayer.removeEventListener("timeupdate", checkTime);
                                $("#"+divID).removeClass("btn-primary").addClass("btn-outline-primary");
                            }
                        }
                        function saveFile() {
                            let syncData = {{.data.Transcripts.Segments}};
                            syncData.forEach(function (element, index, array) {
                                let this_div = $("#" + index + "_tran");
                                element.text = this_div.find("textarea").val();
                            });
                            $.ajax({
                                type: "POST",
                                data :JSON.stringify({
                                    "uuid": "{{.data.UUID}}",
                                    "data": syncData,
                                }),
                                url: "/UpdateJSON",
                                contentType: "application/json"
                            });
                        }
                        function addSegment(id) {
                            $.ajax({
                                type: "POST",
                                data :JSON.stringify({
                                    "uuid": "{{.data.UUID}}",
                                    "id": id,
                                }),
                                url: "/AddSegment",
                                contentType: "application/json",
                                success: function(data) {
                                    $("#subtitles").html(data);
                                    var audioPlayer = document.getElementById("audiofile");
                                    var syncData = {{.data.Transcripts.Segments}};
                                    $('#customRange').attr('max', syncData.length);
                                    syncData.forEach(function (element, index, array) {
                                        let start = element.start;
                                        if (index === 0) {
                                            if (audioPlayer.currentTime === 0) {
                                                start = 0
                                            }
                                        }
                                        if (audioPlayer.currentTime >= start && audioPlayer.currentTime <= element.end) {
                                            $(".transcript").hide();
                                            let this_div = $("#" + index + "_tran");
                                            this_div.show();
                                            this_div.find("textarea").removeAttr('readonly').removeClass("bg-dark-soft").addClass("border-primary");
                                            if (index < syncData.length) {
                                                let next_div = $("#" + (index + 1) + "_text");
                                                next_div.show();
                                                next_div.find("textarea").attr('readonly','readonly').removeClass("border-primary").addClass("bg-dark-soft");
                                            }
                                        }
                                    });
                                }
                            });
                        }
                        function mergeSegments(idA, idB) {
                            let data = {
                                "uuid": "{{.data.UUID}}",
                                "idA": idA,
                                "idB": idB,
                            }
                            $.ajax({
                                type: "POST",
                                data :JSON.stringify(data),
                                url: "/MergeSegment",
                                contentType: "application/json",
                                success: function(data) {
                                    $("#subtitles").html(data);
                                    var audioPlayer = document.getElementById("audiofile");
                                    var syncData = {{.data.Transcripts.Segments}};
                                    $('#customRange').attr('max', syncData.length);
                                    syncData.forEach(function (element, index, array) {
                                        let start = element.start;
                                        if (index === 0) {
                                            if (audioPlayer.currentTime === 0) {
                                                start = 0
                                            }
                                        }
                                        if (audioPlayer.currentTime >= start && audioPlayer.currentTime <= element.end) {
                                            $(".transcript").hide();
                                            // if (index > 0) {
                                            //     let previous_div = $("#" + (index - 1) + "_text");
                                            //     previous_div.show();
                                            //     previous_div.find("textarea").attr('readonly','readonly').removeClass("border-primary").addClass("bg-dark-soft");
                                            // }
                                            let this_div = $("#" + index + "_tran");
                                            this_div.show();
                                            this_div.find("textarea").removeAttr('readonly').removeClass("bg-dark-soft").addClass("border-primary");
                                            if (index < syncData.length) {
                                                let next_div = $("#" + (index + 1) + "_text");
                                                next_div.show();
                                                next_div.find("textarea").attr('readonly','readonly').removeClass("border-primary").addClass("bg-dark-soft");
                                            }
                                        }
                                    });
                                },
                            });
                        }
                        (function (win, doc) {
                            var audioPlayer = doc.getElementById("audiofile");
                            var subtitles = doc.getElementById("subtitles");
                            var syncData = {{.data.Transcripts.Segments}};
                            $("#save").click(function () {
                                syncData.forEach(function (element, index, array) {
                                    let this_div = $("#" + index + "_tran");
                                    element.text = this_div.find("textarea").val();
                                });
                                $.ajax({
                                    type: "POST",
                                    data :JSON.stringify({
                                        "uuid": "{{.data.UUID}}",
                                        "data": syncData,
                                    }),
                                    url: "/UpdateJSON",
                                    contentType: "application/json"
                                });
                            });
                            audioPlayer.addEventListener("timeupdate", function (e) {
                                syncData.forEach(function (element, index, array) {
                                    if (Math.fround(audioPlayer.currentTime) >= Math.fround(element.start) && Math.fround(audioPlayer.currentTime) < Math.fround(element.end)) {
                                        $(".transcript").hide();
                                        // if (index > 0) {
                                        //     let previous_div = $("#" + (index - 1) + "_text");
                                        //     previous_div.show();
                                        //     previous_div.find("textarea").attr('readonly','readonly').removeClass("border-primary").addClass("bg-dark-soft");
                                        // }
                                        let this_div = $("#" + index + "_tran");
                                        this_div.show();
                                        this_div.find("textarea").removeAttr('readonly').removeClass("bg-dark-soft").addClass("border-primary");
                                        $("#customRange").val(element.id);
                                        if (index < syncData.length) {
                                            let next_div = $("#" + (index + 1) + "_text");
                                            next_div.show();
                                            next_div.find("textarea").attr('readonly','readonly').removeClass("border-primary").addClass("bg-dark-soft");
                                        }
                                    }
                                });
                                syncData.forEach(function (element, index, array) {
                                    let this_div = $("#" + index + "_tran");
                                    element.text = this_div.find("textarea").val();
                                });
                            });
                        }(window, document));
                        $(document).ready(function () {
                            let this_div = $("#0_tran");
                            this_div.show();
                            this_div.find("textarea").removeAttr('readonly').removeClass("bg-dark-soft").addClass("border-primary");
                            let next_div = $("#1_text");
                            next_div.show();
                            // next_div.find("textarea").attr('readonly','readonly').removeClass("border-primary").addClass("bg-dark-soft");
                            $("#customRange").val({{.segmentID}});
                            let segments = {{.data.Transcripts.Segments}};
                            let audioPlayer = document.getElementById("audiofile");
                            audioPlayer.currentTime = segments[{{.segmentID}}].start;
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span6">
                    {{template "flash.html" .}}
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}



