{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="container">
    <div class="row m-5">
        <div class="row">
            <div class="col-12">
                <h3 class="cy">Cywiro</h3>
                <h3 class="en">Correct</h3>
                <span class="fw-lighter">{{.data.UUID}}</span>
                <span class="fw-lighter float-end">{{.data.OriginalFilename}}</span>
            </div>
            <div class="col-6">
                <div class="h4 fw-normal timeline-title mb-5 py-2">
                    <button type="button" id="save" class="btn btn-sm btn-outline-success">
                        <i data-feather="save"></i>
                    </button>
                    <button type="submit" id="export" class="btn btn-sm btn-outline-primary">
                        <i data-feather="download"></i>
                        SRT
                    </button>
                    <button type="submit" id="backup" class="btn btn-sm btn-outline-danger">
                        <i data-feather="refresh-cw"></i>
                        <span class="cy">Agor</span><span class="en">Open</span> Backup
                    </button>
                    <form action="/RevertJSON" method="get" id="backup-form">
                        <input type="hidden" name="uuid" value="{{.data.UUID}}">
                    </form>
                    <form action="/ExportSRT" method="get" id="srt-form">
                        <input type="hidden" name="uuid" value="{{.data.UUID}}">
                    </form>
                    <script>
                        $("#export").click(function () {
                            $("#srt-form").submit();
                        });
                        $("#backup").click(function () {
                            $("#backup-form").submit();
                        });
                    </script>
                </div>
            </div>
            <div class="col-12" style="min-height: 400px;">
                <div id="editor">
                    <audio style="width: 100%;" id="audiofile" src="/PlayAudio?uuid={{.data.UUID}}" controls></audio>
                    <br>
                    <div id="subtitles">
                        {{range .data.Transcripts}}
                        <div class="card m-3 pt-3 row hide transcript" id="{{.ID}}_tran">
                            <table class="table">
                                <tr>
                                    <td>ID: {{.ID}}</td>
                                    <td>Start: {{.Start}}</td>
                                    <td>End: {{.End}}</td>
                                    {{if gt .ID 0}}
                                    <td>
                                        <form action="/MergeSegment" method="get">
                                            <input type="hidden" name="uuid" value="{{$.data.UUID}}">
                                            <input type="hidden" name="idA" value="{{add .ID -1}}">
                                            <input type="hidden" name="idB" value="{{.ID}}">
                                            <button type="submit" class="btn btn-sm btn-outline-primary">
                                                Mergio gyda
                                                ID: {{add .ID -1}}
                                            </button>
                                        </form>
                                    </td>
                                    {{end}}
                                </tr>
                            </table>
                            <div class="col-sm-12 pb-3">
                                <textarea class="form-control" id="staticEmail2" rows="5" onfocusout="saveFile()">{{.Text}}</textarea>
                            </div>
                        </div>
                        {{end}}
                    </div>
                    <script>
                        $(document).ready(function () {
                            let this_div = $("#0_tran");
                            this_div.show();
                            this_div.find("textarea").removeAttr('readonly').removeClass("bg-dark-soft").addClass("border-info");
                            let next_div = $("#1_tran");
                            next_div.show();
                            next_div.find("textarea").attr('readonly','readonly').removeClass("border-info").addClass("bg-dark-soft");
                        });
                        function saveFile() {
                            var syncData = {{.data.Transcripts}};
                            syncData.forEach(function (element, index, array) {
                                let this_div = $("#" + index + "_tran");
                                element.text = this_div.find("textarea").val();
                            });
                            $.ajax({
                                    type: "POST",
                                    data :JSON.stringify({
                                        "uuid": "{{.data.UUID}}",
                                        "data": syncData,
                                    }),
                                    url: "/UpdateJSON",
                                    contentType: "application/json"
                                });
                        }
                        (function (win, doc) {
                            var audioPlayer = doc.getElementById("audiofile");
                            var subtitles = doc.getElementById("subtitles");
                            var syncData = {{.data.Transcripts}};
                            $("#save").click(function () {
                                syncData.forEach(function (element, index, array) {
                                    let this_div = $("#" + index + "_tran");
                                    element.text = this_div.find("textarea").val();
                                });
                                $.ajax({
                                    type: "POST",
                                    data :JSON.stringify({
                                        "uuid": "{{.data.UUID}}",
                                        "data": syncData,
                                    }),
                                    url: "/UpdateJSON",
                                    contentType: "application/json"
                                });
                            });
                            audioPlayer.addEventListener("timeupdate", function (e) {
                                syncData.forEach(function (element, index, array) {
                                    if (audioPlayer.currentTime >= element.start && audioPlayer.currentTime <= element.end) {
                                        $(".transcript").hide();
                                        if (index > 0) {
                                            let previous_div = $("#" + (index - 1) + "_tran");
                                            previous_div.show();
                                            previous_div.find("textarea").attr('readonly','readonly').removeClass("border-info").addClass("bg-dark-soft");
                                        }
                                        let this_div = $("#" + index + "_tran");
                                            this_div.show();
                                            this_div.find("textarea").removeAttr('readonly').removeClass("bg-dark-soft").addClass("border-info");
                                        if (index < syncData.length) {
                                            let next_div = $("#" + (index + 1) + "_tran");
                                            next_div.show();
                                            next_div.find("textarea").attr('readonly','readonly').removeClass("border-info").addClass("bg-dark-soft");
                                        }
                                    }
                                });
                                syncData.forEach(function (element, index, array) {
                                    let this_div = $("#" + index + "_tran");
                                    element.text = this_div.find("textarea").val();
                                });
                            });
                        }(window, document));
                    </script>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span6">
                    {{template "flash.html" .}}
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}